/* :root {
  --ion-color-primary: #9306a0;
  --ion-color-primary-rgb: 87, 227, 137;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #c843da;
  --ion-color-primary-tint: #00bfe0; 
}

@media (prefers-color-scheme: dark) {
  :root, body.dark {
    --ion-color-primary: #fff;
    --ion-color-primary-rgb: 255, 255, 255;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #fff;
    --ion-color-primary-tint: #fff; 
}
 */

 ion-card {
  --background: var(--ion-color-light);
}

ion-card-title a {font-weight: bold;
  text-transform: uppercase;
  color: var(--ion-text-color-light);
}

.swiper-pagination-bullet-active {
  background: #810867 !important; /* Updated color for active bullet, can adjust if you want a different color for active state */
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  background: #810867 !important;
}